body {
    margin: 0px;
}

h1 {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

.prenom {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
   color: cadetblue;
}

p {
    font-family: 'Helvetica';
}

li {
    font-family: 'Helvetica';
}

.container {
    margin-top: 30px;
}

/*header*/
#header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    background: white;
    padding: 4px 46px 2px;
    padding-top: 10px;
    height: 60px;
    box-shadow: 0 1px 16px rgb(0 0 0 / 40%);
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
}

#menu_choice {
    display: block;
}

#menu li {
    display: inline-flex;
    margin-right: 20px;
}

/*section 1*/
#me {
    min-height: 85vh;
    width: 100%;
    text-align: center;
}

.row_me {
    display: grid;
    grid-template-columns: 400px auto auto;
    grid-template-rows: 200px 300px 200px;
}

.pdp {
    width: 350px;
    height: 450px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 100px;
    margin-top: 20px;
}

.fond {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    margin-left: 90px;

}

.me_prenom {
    margin-top: 10% ;
    grid-column-start: 2;
    grid-row-start: 1;

}

.me_text {
    margin-top: 8%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

.explication {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    padding: 50px;
    border-top: 2px solid black;
}

#competences {
    background: midnightblue;
    color: red;
    min-height: 60vh;
}

#experience {
    background: red;
    color: white;
    min-height: 60vh;
}
